# CEF includes which is not used.
!include/base/internal/cef_net_error_list.h
include/cef_pack_resources.h
include/cef_pack_strings.h
include/base/
include/capi/
include/test/
include/views/

# Generated boilerplates
Classes.Handlers.tmpl
Classes.Proxies.tmpl
